<div class="mt-[150px] mb-[150px] flex flex-col min-h-screen bg-white">
  <main class="bg-white">
    <div
      class="flex flex-col justify-center items-center py-8 px-6 mx-auto md:h-screen"
    >
      <div
        class="justify-center items-center w-full rounded-lg border border-gray-200 lg:flex md:mt-0 lg:max-w-screen-sm xl:p-0 bg-white"
      >
        <div class="p-6 w-full sm:p-8 lg:p-10">
          <h1
            class="mb-10 text-4xl font-bold leading-none tracking-tight text-gray-800 md:text-2xl lg:text-3xl"
          >
            Parent Sign In
          </h1>

          <form action="/parentLogin" method="POST" class="mt-8">
            <div class="mb-6">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
                >Your email</label
              >
              <input
                required=""
                placeholder="name@company.com"
                name="email"
                type="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                value=""
              />
            </div>
            <div class="mb-6">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
                >Your password</label
              >
              <input
                required=""
                placeholder=""
                name="password"
                type="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                value=""
              />
            </div>
            <div class="flex items-start mb-6"></div>
            <button
              class="text-white font-medium rounded-lg text-base px-5 py-3 w-full sm:w-auto text-center bg-blue-700"
              type="submit"
            >
              <span class="flex justify-center items-center">Sign In</span>
            </button>
            <div class="mb-6">
              <!-- Your reCAPTCHA code goes here -->
            </div>
            <div class="text-sm font-medium">
              Don't have an account?<a
                class="ml-1 text-blue-700 dark:text-blue-500 hover:underline"
                href="/parentRegister"
                >Sign up here.</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
